<div class="row mt-5">
  <div class="col-md-8 m-auto">
    <div class="card card-body">
      <h1 class="text-center mt-3">新增支出</h1>
      {{> message}}
      <form action="/records" method="POST">
        <div class="modal-body">

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">名稱</span>
            </div>
            <input type="text" class="form-control" name="name" placeholder="請輸入名稱" aria-label="inputName"
              aria-describedby="name" value="{{ record.name }}" required>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="category">類別</label>
            </div>
            <select class="custom-select" id="category" name="category" required>
              <option value="" selected hidden>請選擇</option>
              <option value="housewares" {{#is record.category 'housewares' }} selected {{/is}}>家居物業</option>
              <option value="transportation" {{#is record.category 'transportation' }} selected {{/is}}>交通出行</option>
              <option value="entertainment" {{#is record.category 'entertainment' }} selected {{/is}}>休閒娛樂</option>
              <option value="food" {{#is record.category 'food' }} selected {{/is}}>餐飲食品</option>
              <option value="others" {{#is record.category 'others' }} selected {{/is}}>其他</option>
            </select>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" name="inputDate">日期</span>
            </div>
            <input type="date" class="form-control" name="date" id="create-date" aria-label="inputDate"
              aria-describedby="inputDate" value="{{ defaultDate }}" required>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">金額</span>
            </div>
            <input type="number" class="form-control" name="amount" id="amount" placeholder="請輸入金額"
              aria-label="inputAmount" aria-describedby="inputAmount" value="{{ record.amount }}" required>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">店家</span>
            </div>
            <input type="text" class="form-control" name="merchant" id="merchant" placeholder="請輸入店家名稱"
              aria-label="inputMerchant" aria-describedby="inputMerchant" value="{{ record.merchant }}" required>
          </div>

        </div>
        <div class="modal-footer">
          <a href="/" class="btn btn-outline-info">取消</a>
          <button type="submit" class="btn btn-primary confirm-btn" id="confirm-create">新增</button>
        </div>
      </form>
    </div>
  </div>
</div>